.td_spinner_container {
	position: relative;
}

.td_spinner_container .td_spinner_oper {
	position: absolute;
	cursor: pointer;
	right: 0px;
	bottom: 5px;
	font-size: 12px;
}

.td_spinner_container .td_spinner_oper .td_spinner_up {
	position: relative;
	bottom: 8px;
	left: 10px;
}
.td_spinner_container .td_spinner_oper .td_spinner_up:active {
	bottom: 9px;
}

.td_spinner_container .td_spinner_oper .td_spinner_down {
	position: relative;
	left: -2px;
	top: 2px;
}
.td_spinner_container .td_spinner_oper .td_spinner_down:active {
	top: 3px;
}




