<div ms-controller="agtManage2">
	<td:panel config="$panel_opt" title="合作商管理" operation="其他操作" padding="0px 15px 15px 15px">
		<div slot="content">
			
			<td:form config="$qry_form_opt" horizontal="true" btn-size="small" btn-pos="right">
				<div slot="content">
					<div class="row">
						<td:text label="合作商名称" horizontal="true" name="agt_name" class="col-xs-12 col-sm-6 col-md-3"></td:text>
						<td:text label="上级合作商" horizontal="true" name="parent_id" class="col-xs-12 col-sm-6 col-md-3"></td:text>
						<td:select label="合作商状态" horizontal="true" name="agt_status" config="$agt_status_opt" class="col-xs-12 col-sm-6 col-md-3"></td:select>
					</div>
					<div class="row">
						<td:select label="合作省份" horizontal="true" name="agt_prov" config="$agt_prov_opt" class="col-xs-12 col-sm-6 col-md-3"></td:select>
						<td:select label="合作城市" horizontal="true" name="agt_city" auto="false" $id="crud02_city" config="$agt_city_opt" class="col-xs-12 col-sm-6 col-md-3"></td:select>
						<td:select label="合作区域" horizontal="true" name="agt_area" auto="false" $id="crud02_area" config="$agt_area_opt" class="col-xs-12 col-sm-6 col-md-3"></td:select>
					</div>
					<div class="row">
						<td:datepicker label="申请日期" horizontal="true" name="agt_date" class="col-xs-12 col-sm-6 col-md-3"></td:datepicker>
						<td:spinner label="申请终端数" horizontal="true" name="agt_num" class="col-xs-12 col-sm-6 col-md-3"></td:spinner>
					</div>
				</div>
			</td:form>
			
			<!--
			<form class="form-horizontal">
				<div class="row form-group">
					<label class="control-label no_padding padding_top col-sm-1">合作商名称：</label>
					<div class="col-sm-2">
						<input type="text" name="log_user" class="form-control" />
					</div>
					<label class="control-label no_padding padding_top col-sm-1">上级合作商：</label>
					<div class="col-sm-2">
						<input type="text" name="log_event" class="form-control" />
					</div>
					<label class="control-label no_padding padding_top col-sm-1">合作商状态：</label>
					<div class="col-sm-2">
						<input type="text" name="log_date" class="form-control" />
					</div>
				</div>
				<div class="row form-group">
					<label class="control-label no_padding padding_top col-sm-1">合作商名称：</label>
					<div class="col-sm-2">
						<input type="text" name="log_user" class="form-control" />
					</div>
					<label class="control-label no_padding padding_top col-sm-1">上级合作商：</label>
					<div class="col-sm-2">
						<input type="text" name="log_event" class="form-control" />
					</div>
					<label class="control-label no_padding padding_top col-sm-1">合作商状态：</label>
					<div class="col-sm-2">
						<input type="text" name="log_date" class="form-control" />
					</div>
				</div>
			</form>
			-->
			
			
			
			
			
			<td:datagrid $id="crud02_datagrid" config="$datagrid_opt" bar="false" editable="true" auto="true" height="400"></td:datagrid>
		</div>
	</td:panel>

	<td:dialog $id="crud02_dialog" title="详情">
		<div slot="content">
			这里是详情
		</div>
	</td:dialog>
</div>