.td_rate_container {
	position: relative;
	display: inline-block;
	cursor: pointer;
	width: 100%;
}
.td_rate_container .td_rate_horizontal {
	margin-top: 10px;
}
.td_rate_container .control-label{
	padding-bottom: 15px;
}
.td_rate_container .td_rate {
	position: relative;
	display: inline-block;
	height: 24px;
	width: 24px;
}
.td_rate_container .td_rate_checked {
	background-image: url(img/checked.png);
}
.td_rate_container .td_rate_unchecked {
	background-repeat: no-repeat;
	background-image: url(img/unchecked.png);
}
.td_rate_container .td_rate_halfchecked {
	background-repeat: no-repeat;
	background-image: url(img/halfchecked.png);
}