<div ms-controller="datagrid02">
	<td:tab config="$tab_opt" active="0">
		<div slot="content0">
			<blockquote>
				<p>高级数据表格</p>
				<footer>带复选框和事件信息的<cite title="高级数据表格">数据表格</cite></footer>
			</blockquote>
			<pre>事件信息：{{info}}</pre>
			<td:datagrid $id="datagrid02_datagrid" config="$datagrid_opt" title="高级数据表格" editable="true" auto="true" height="300">
				<div slot="content">
					<td:form config="$form_opt" btn-size="small" btn-pos="right">
						<div slot="content">
							<div class="row">
								<td:text label="名称" name="name" class="col-xs-12 col-sm-6 col-md-3"></td:text>
								<td:text label="价格" name="price" class="col-xs-12 col-sm-6 col-md-3"></td:text>
								<td:select label="类别" name="category" config="$select_opt" class="col-xs-12 col-sm-6 col-md-3"></td:select>
							</div>
						</div>
					</td:form>
				</div>
			</td:datagrid>
		</div>
		<div slot="content1">
			<pre ms-skip>
&lt;td:datagrid config="$datagrid_opt" title="高级数据表格" editable="true" auto="true" height="300"&gt;
	&lt;div slot="content"&gt;
		&lt;td:form config="$form_opt" btn-size="small" btn-pos="right"&gt;
			&lt;div slot="content"&gt;
				&lt;div class="row"&gt;
					&lt;td:text label="名称" name="name" class="col-xs-12 col-sm-6 col-md-3"&gt;&lt;/td:text&gt;
					&lt;td:text label="价格" name="price" class="col-xs-12 col-sm-6 col-md-3"&gt;&lt;/td:text&gt;
					&lt;td:select label="类别" name="category" config="$select_opt" class="col-xs-12 col-sm-6 col-md-3"&gt;&lt;/td:select&gt;
				&lt;/div&gt;
			&lt;/div&gt;
		&lt;/td:form&gt;
	&lt;/div&gt;
&lt;/td:datagrid&gt;
			</pre>
		</div>
		<div slot="content2">
			<pre ms-skip>
var vdatagrid = avalon.define({
	$id: 'datagrid02',
	info: '',
	$form_opt: {
		onsubmited: function(ev, vm) {
			avalon.vmodels['datagrid02_datagrid'].reloadData(vm.getData());
		}
	},
	$select_opt: {
		data: {
			'': '全部', 'A1': '游戏', 'A2' : '电影', 'A3' : '音乐'
		}
	},
	$datagrid_opt: {
		loadUrl: 'data/td.datagrid.json',
		loadParam: {
			//...
		},
		deleteUrl: 'data/td.datagrid.delete.json',
		key: ['id', 'name'],
		cols: [
			{name: 'id', display: '编号', width: 100, type: 'text', disabled: true}, 
			{name: 'name', display: '名称', width: 150, type: 'text'}, 
			{name: 'price', display: '价格', width: 120, type: 'text', render: function(val) {
				return '&lt;b style="color:red;"&gt;' + val + '&lt;/b&gt;';
			}, fun: function(ev, vm, row, col, val) {
				avalon.log(vm.getRow([row]));
				alert('行' + row + ',列' + col + ',值' + val);
			}},},
			{name: 'category', display: '类别', width: 150, type: 'select', option: {
				'A1': '游戏', 'A2' : '电影', 'A3' : '音乐'
			}}
		],
		onloaded: function(dat, vm) {
			vdatagrid.info = '加载数据 ' + dat;
		},
		onreloaded: function(dat, vm) {
			vdatagrid.info = '重新加载数据 ' + dat;
		},
		onrowclicked: function(row, vm) {
			vdatagrid.info = '点击行 ' + row;
		},
		onrowdbclicked: function(row, vm) {
			vdatagrid.info = '双击行 ' + row;
		},
		onrowselected: function(row, vm) {
			vdatagrid.info = '已选中行索引 ' + vm.getSelectedIdx();
		},
		buttons: [{
			display: '保存', icon: 'glyphicon glyphicon-save', fun: function(ev, vm) {
				alert('save');
			}
		}],
		actions: [{title: '新增', icon: 'glyphicon glyphicon-plus', fun: function(ev, vm) {
			vdatagrid.info = '新增游戏999 GAME $999 A1';
			vm.addRow([{id:'999', name:'GAME', price:'$999', category:'A1', selected:false}]);
		}}, {title: '修改', icon: 'glyphicon glyphicon-pencil', fun: function(ev, vm) {
			vdatagrid.info = '修改选中行名称为NEW';
			vm.modifySelectRow({name: 'NEW'});
		}}, {title: '删除', icon: 'glyphicon glyphicon-remove', fun: function(ev, vm) {
			vdatagrid.info = '点击删除[已选中行：' + vm.getSelectedIdx() + ']';
			vm.removeSelectedRow();
		}},{title: '刷新', icon: 'glyphicon glyphicon-refresh', type: 'primary', fun: function(ev, vm) {
			vm.reloadData();
		}}]
	}
});
			</pre>
		</div>
	</td:tab>
</div>