document, body {
	width: 100%;
	height: 100%;
	padding: 0px;
	margin: 0px;
}
/* header silderbar*/
.index_header {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 120px;
	padding-left: 240px;
	margin-bottom: 20px;
	z-index: 7;
}
.index_brand {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 240px;
	height: 120px;
	background-color: #009688;
	z-index: 9;
}
.index_sliderbar {
	position: absolute;
	position: fixed;
	top: 0px;
	left: 0px;
	/*
	left: -105%;
	*/
	width: 240px;
	height: 100%;
	height: calc(100%);
	margin: 0px;
	overflow: hidden;
	overflow-y: auto;
	z-index: 8;
	background-color: #fff;
	filter: progid:DXImageTransform.Microsoft.Shadow(color='#969696', Direction=135, Strength=5); /* for ie6, 7, 8 */
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
.index_sliderbar .index_menu {
	margin-top:120px;
}
/* navbar */
.index_navbar {
	position: relative;
	height: 100%;
	background-color: #009688; 
}
.index_navbar a {
	color: #fff;
}
.index_navbar .index_title {
	position:absolute;
	top: 10px;
	left: 90px;
	padding: 10px 20px;
	color: #fff;
	font-size: 25px;
	font-weight: bold;
}
.index_navbar a:hover, .index_navbar a:active {
	text-decoration: none;
}
.index_navbar .index_toggle {
	top: 18px;
	font-size: 22px;
	cursor: pointer;
	color: #fff;
	float: right;
	display: none;
}
/* body */
.index_body {
	position:relatvie;
	padding-top: 70px;
	padding-left: 240px;
}
.index_body .well{
	position:relative;
	z-index:7;
}
/* respond */
@media screen and (max-width: 768px) {
	.index_header {
		padding-left: 0px;
	}
	.index_brand {
		left: -105%;
		z-index: 11;
	}
	.index_sliderbar {
		left: -105%;
		z-index: 10;
	}
	.index_navbar {
		padding: 8px 20px;
	}
	.index_navbar .index_title {
		left: 20px;
	}
	.index_navbar .index_toggle {
		display: block;
	}
	.index_body {
		padding-left: 20px;
	}
}