.td_radio_container {
	position: relative;
	height: 22px;
	cursor: pointer;
	display: inline-block;
}

.td_radio_container .td_radio {
	position: relative;
	display: inline-block;
	height: 22px;
	width: 22px;
}
.td_radio_container .td_radio_label {
	position: relative;
	height: 22px;
	line-height:18px;
	font-size: 18px;
	bottom: 3px;
}

.td_radio_container .td_checked {
	background-image: url(img/checked.png);
}

.td_radio_container .td_unchecked {
	background-image: url(img/unchecked.png);
}

.td_radio_disabled {
	color: #ccc;
	cursor: default;
	cursor: not-allowed;
}

.td_radio_checked_disabled {
	background-image: url(img/checked.png);
}

.td_radio_unchecked_disabled {
	background-image: url(img/unchecked.png);
}
