.td_datagrid_container {
	position: relative;
	width: 100%;
	height: 100%;
}
table.td_datagrid {
	table-layout: fixed;
	margin-bottom:0px;
}
table.td_datagrid .navbar {
	margin-bottom: 10px !important;
}
table.td_datagrid .form-group {
	margin-bottom: 10px !important;
}

table.td_datagrid>thead>tr>th {
	border-top: 0px none;
	border-bottom: 0px none;
}

table.td_datagrid>thead>tr>th .btn {
	margin-top: 0px;
	margin-bottom: 0px;
}

table.td_datagrid>thead>tr>th.td_datagrid_filter>input[type="text"],
table.td_datagrid>tbody>tr>td.td_datagrid_filter>input[type="text"],
table.td_datagrid>thead>tr>th.td_datagrid_filter>select,
table.td_datagrid>tbody>tr>td.td_datagrid_filter>select {
	background-color: transparent;
	outline: 0 none;
	padding: 0;
	box-shadow: none;
	border-radius: 0;
	border: 0px none;
	border-bottom: solid 1px #ccc;
	-webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  transition: all .3s; 
	border-color: lightgray !important;
}
table.td_datagrid>thead>tr>th.td_datagrid_filter>input[type="text"]:focus,
table.td_datagrid>tbody>tr>td.td_datagrid_filter>input[type="text"]:focus,
table.td_datagrid>thead>tr>th.td_datagrid_filter>select:focus,
table.td_datagrid>tbody>tr>td.td_datagrid_filter>select:focus {
	border-bottom: solid 1px #009688;
	box-shadow: 0 2px 0 0 #009688; 
}

table.td_datagrid>thead>tr>th,
table.td_datagrid>tbody>tr>td {
	padding: 5px;
	padding-left: 8px;
	height: 42px;
	cursor: default;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
}
table.td_datagrid>thead>tr>th {
	cursor: pointer;
}

table.td_datagrid>tbody>tr>td>.btn {
	padding: 4px 12px;
	margin: 0px;
}
table.td_datagrid>thead>tr>td>input[type="button"] {
	height: 25px;
	line-height: 25px;
}

table.td_datagrid>thead>tr>th>div.checkbox,
table.td_datagrid>tbody>tr>td>div.checkbox {
	margin:0px;
	margin-top: 3px;
}

table.td_datagrid>thead {
	border-bottom: solid 1px #ddd;
}
table.td_datagrid>tbody>tr.td_datagrid_tredit {
	background-color: #80cbc4;
	box-shadow: 5px 5px 5px #888888;
}
table.td_datagrid>tbody>tr.td_datagrid_tredit>td {
	-webkit-box-shadow: 5px 5px 5px #888888;
}

table.td_datagrid .td_tr_selected {
	height: 100%;
	margin: 0px;
	border: 0px none;
	border-left: solid 2px #4caf50;
}