.td_password_container {
	position: relative;
	cursor: pointer;
}
.td_password_container ul.dropdown-menu {
	padding-bottom: 0px;
}
.td_password_container .td_password_keypad{
	text-align: center;
	width: 315px;
	min-width: 315px;
	_width: expression((document.documentElement.clientWidth||document.body.clientWidth)>315 ? "315" : "auto"); 
}
.td_password_container .td_password_keypad>ul.nav {
	background-color: transparent;
	border-bottom: 0px none;
	border-bottom: solid 1px #ddd !important;
}
.td_password_container .td_password_keypad>ul>li {
	margin-bottom: -2px;
}
.td_password_container .td_password_keypad>ul.nav>li>a {
	color: #aaa !important;
	/*transition: all .3s;*/
	border: 0px none;
}
.td_password_container .td_password_keypad>ul.nav>li.active>a {
	color: #000 !important;
	border-bottom: solid 2px #009688 !important;
}
.td_password_container .td_password_keypad table{
	margin-bottom: 0px;
}
.td_password_container .td_password_keypad td {
	font-weight: bold;
	border-left: solid 1px #ccc;
	padding: 8px 10px;
}
.td_password_container .td_password_keypad td:first-child {
	border-left: 0px none;
}
.td_password_container .td_password_keypad td:active {
	background-color: #eee;
}