<div ms-controller="navbar02">
	<td:tab config="$tab_opt" active="0">
		<div slot="content0">
			<blockquote>
				<p>高级导航条</p>
				<footer>带按钮及事件处理的<cite title="高级导航条">导航条</cite></footer>
			</blockquote>
			<td:navbar config="$navbar_opt" title="导航" form="true" operation="自定义操作"></td:navbar>
		</div>
		<div slot="content1">
			<pre ms-skip>
&lt;td:navbar config="$navbar_opt" title="导航" form="true" operation="自定义操作"&gt;&lt;/td:navbar&gt;
			</pre>
		</div>
		<div slot="content2">
			<pre ms-skip>
var vnavbar = avalon.define({
	$id: 'navbar02',
	$navbar_opt: {
		onsubmited: function(ev, vm) {
			TD.alert(ev.target.value);
		},
		ontitleclicked: function(ev, vm) {
			TD.alert(vm.title);
		},
		buttons: [{
			display: '查询', icon: 'glyphicon glyphicon-search', fun: function(ev, vm) {
				TD.alert('查询');
		}},{
			display: '保存', icon: 'glyphicon glyphicon-save', fun: function(ev, vm) {
				TD.alert('保存');
		}}],
		operations: [{display: '新增', icon: 'glyphicon glyphicon-plus', fun: function(ev, vm) {
			TD.alert('新增');
		}}, {display: '删除', icon: 'glyphicon glyphicon-remove', fun: function(ev, vm) {
			TD.alert('删除');
		}}]
	}
});
			</pre>
		</div>
	</td:tab>
</div>