.td_dialog_container {
	position: relative;
	padding-top: 80px;
}
.td_dialog_container>.modal-content>.modal-header{
	padding: 15px 15px 0;
}
.td_dialog_show {
	display: block !important;
}
.td_dialog_hide {
	display: none !important;
}