.td_select_container {
	position: relative;
	cursor: pointer;
}
.td_select_disabled {
	cursor: default;
	cursor: not-allowed;
}
.td_select_container .td_select_trigger {
	margin-top: -27px;
	margin-right: 2px;
	cursor: pointer;
}
.td_select_container .td_select_list {
	width:100%;
	max-height: 200px; 
	_height:expression(this.scrollHeight > 200 ? "200px" : "auto"); 
	overflow-y:auto; 
}
.td_select_container .td_select_selected {
	margin-top:-22px;
	margin-right:5px;
}
.td_select_container .td_select_valid_info {
	color: #a94442;
	line-height: 30px;
}
.td_select_container i.td_select_icon {
	display: inline-block;
	margin-top: 2px;
	width: 18px;
	height: 18px;
	line-height: 18px;
	vertical-align: text-top;
	background-repeat: no-repeat;
}
.td_select_container i.td_select_loading {
	background-image:url(img/loading.gif);
}
.td_select_container .td_select_loadinfo {
	color: red;
	font-size: 16px;
}